body{
	background-color: hsla(180, 90%, 50%, 0.3);
}

p{
	font-size: 20px; 
	margin: 50px;
}

li:hover{
	background-color: #009900;
}

.footer{
	 background-color: #009900;
	 position: fixed;
	 display: block;
	 padding: 15px;
	 bottom: 0px;
	 width: 100%;
}

.navbar-toggle{
background-color: #009900 !important;
}

.gameButton{
	background-color: #ffa500;
	color: #1a1aff;
	border-color: #ffa500;
	font-size: 20px;
	display: inline-block;
	margin-left: 200px;
}
.bottomButton{
	margin-top: 10px;
}

.buttonText{
	display: inline;
}

.footerButton{
	margin-bottom: 100px;
}

.counterText{
	margin-top: 10px;
	margin-left: 350px;
}
